body {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
	font-family: 'Open Sans', sans-serif;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background: url(./img/bg_body.png) 0 0 repeat #f5f3f3 !important;
}

/*div{
	table-layout: fixed;
	word-wrap: break-word;
	overflow: hidden;
	防止内容过多倍撑变形
}*/
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var
	{
	background: transparent;
	border: 0 none;
	font-size: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: top;
}

ul,ol,li {
	padding: 0;
	margin: 0;
	list-style: none;
}

div {
	display: block;
}

/* Clear Floated Elements */
.clear {
	float: none !important;
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	clear: both;
}

.header {
	text-align: center;
	margin-top: 100px;
}

.container {
	padding-right: 0;
	padding-left: 0;
	margin-right: auto;
	margin-left: auto;
	width: 1150px;
}

.header-bottom {
	padding: 1.5em 0 1.5em;
	border-bottom: 1px solid #5f5e5e;
	border-top: 1px solid #5f5e5e;
	table-layout: fixed;
	word-wrap: break-word;
	overflow: hidden;
}

.header ul li {
	padding: 0 10px 0 0;
}

/*--start navbar--*/
.navbar {
	float: left;
}

.navbar ul {
	padding: 0;
	margin: 0;
}

.navbar ul li {
	display: inline-block;
	padding: 0 10px 0 10px;
}

.navbar ul li a {
	position: relative;
	display: inline-block;
	margin: 0px 2px;
	outline: none;
	color: #5f5e5e;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
	font-size: 1em;
}

.navbar ul li a:hover,.navbar ul li.active a {
	color: #e6a549;
}

/* start menu */
.navbar ul a::after {
	position: absolute;
	top: 110%;
	left: 0;
	width: 100%;
	height: 2px;
	background: #e6a549;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.navbar ul a:hover::after,.navbar ul a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
}

/* strart social-media */
.social-media {
	position: relative;
	float: right;
}

.social-media ul {
	padding: 0;
	margin: 0;
}

.social-media ul li {
	display: inline-block;
	margin: 0 .5em;
	outline: none;
	text-decoration: none;
}

.social-media ul li a {
	margin: 0 2px;
	color: #5f5e5e;
	text-decoration: none;
	font-size: 1em;
}

.social-media ul li:hover {
	color: #e6a549;
	transition-duration: 0.3s;
	/*transition: color, 0.3s;*/
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	transform: rotate(40deg);
}

.social-media ul li a:hover {
	color: #e6a549;
	transition-duration: 0.3s;
}

.navbar:after,.social-media:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.social-img {
	width: 150px;
	height: 150px;
	display: none;
	position: relative;
	float: right;
	right: 22em;
	bottom: 1em;
	z-index: 100;
}

/* Slider Start */
.slider {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
}

.slider ul {
	padding: 0;
}

.slider ul li a {
	display: block;
	cursor: default;
}

.slider ul li a img {
	width: 1100px;
	height: 750px;
}

#msg {
	width: 1100px;
	height: 150px;
	text-indent: 10px;
	position: relative;
	background: rgba(207, 207, 207, 0.5);
	z-index: 1;
	top: -190px;
	font-style: italic;
	text-align: center;
	color: #3b3b3b;
	font-size: 1.6em;
	line-height: 1.8em;
}

.slider ol {
	position: relative;
	display: inline-block;
	top: -35px;
	margin: 0;
	padding: 8px 0 8px 0;
	background: rgba(255, 255, 255, 0);
	border-radius: 7px;
	left: 50%;
	z-index: 2;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}

.slider ol:hover {
	background: rgba(255, 255, 255, .7);
	transition-duration: 0.3s;
}

.slider ol li {
	margin-right: 20px;
	margin-left: 20px;
	float: left;
	width: 8px;
	height: 8px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.slider span {
	width: 36px;
	height: 36px;
	line-height: 36px;
	font-size: 36px;
	color: rgba(0, 0, 0, .4);
	background: rgba(255, 255, 255, .1);
	position: relative;
	font-weight: bold;
	top: -400px;
}

.slider span:hover {
	color: rgba(0, 0, 0, .7);
	background: rgba(255, 255, 255, .7);
}

#ltBtn {
	right: 17.5%;
	left: auto;
	cursor: default;
}

#rtBtn {
	left: 78.68%;
	right: auto;
	cursor: default;
}

/* Frame Start */
.frame h3 {
	font-style: italic;
	text-align: center;
	color: #3b3b3b;
	font-size: 1.6em;
	line-height: 1.8em;
	font-weight: 500;
	padding: 2em 2em;
	box-shadow: 1px 0px 5px 0px #BBB9B9;
	margin: 0;
}

.logtitle {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 25px;
}

.inputform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
	margin-top: 120px;
}

.inputform input {
	padding: 15px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	width: 100%; box-sizing =border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
	margin-bottom: 10px;
}

.registbutton:hover,.registbutton:focus,.loginbutton:hover,.loginbutton:focus
	{
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.registbutton,.loginbutton {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white !important;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin-bottom: 5px !important;
}

/* Articlelist Start */
.content {
	position: relative;
	padding-top: 64px;
	padding-bottom: 36px;
	margin-top: 64px;
	background-color: white;
}

.content:after {
	width: 3px;
	background-color: #2a394e;
	left: 50%;
	position: absolute;
	display: block;
	margin-left: -1px;
	top: 0;
	bottom: 36px;
	content: '';
}

.article {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

.article:before,.article:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}

.article .pos12 {
	width: 460px;
}

.boxcontainer {
	width: 460px;
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.box {
	position: relative;
	padding: 1px;
	margin-bottom: 36px;
	border: 2px solid #2a394e;
}

.box a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

.box a.bot {
	padding: 22px 0 20px 42px;
	border: 2px solid #f3f6f8;
	display: block;
	position: relative;
	color: #2a394e;
	font: 27px/ 27px 'Economica', sans-serif;
}

.box:before {
	width: 9px;
	height: 9px;
	border-radius: 55px;
	content: '';
	right: -40px;
	z-index: 30;
	position: absolute;
	display: block;
	z-index: 30;
}

.box:after {
	position: absolute;
	width: 0px;
	content: '';
	right: -12px;
	top: 70px;
	height: 0px;
	border-style: solid;
	border-width: 10px 0 10px 12px;
	border-color: transparent transparent transparent #ff6360;
}

.box.left {
	margin-right: 23px;
}

.box.right {
	margin-left: 23px;
}

.box.right:before {
	left: -39px;
	right: auto;
}

.box.right:after {
	left: -12px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 12px 10px 0;
}

.pos1 {
	border-color: #7ae0ed;
}

.pos1:before {
	top: 48px;
	background-color: #81e2ee;
}

.pos1:after {
	top: 42px;
	border-color: transparent transparent transparent #81e2ee;
}

.pos1 a.bot {
	background-color: #f3f6f8;
	padding-left: 70px;
	padding-top: 75px;
	margin-top: 0;
	padding-bottom: 59px;
	font-size: 36px;
	line-height: 36px;
}

.pos1 a.bot:hover,.pos2 a.bot:hover {
	color: #fff;
	background-color: #2a394e;
	border-color: #2a394e;
}

.pos2 {
	border-color: ff6765;
	margin-top: 30px;
}

.pos2:before {
	top: 125px;
	background-color: #ff6765;
}

.pos2:after {
	top: 120px;
	border-color: transparent #ff6765 transparent transparent;
}

.pos2 a.bot {
	background-color: #f3f6f8;
	padding-left: 70px;
	padding-top: 75px;
	margin-top: 0;
	padding-bottom: 59px;
	font-size: 36px;
	line-height: 36px;
}

.round {
	width: 83px;
	height: 83px;
	border-radius: 500px;
	background-color: #2a394e;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	display: block;
	color: #fff;
	margin: 1px auto 0;
	position: relative;
	z-index: 30;
	padding-top: 22px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	-webkit-transition: 0.5s ease;
}

.round:hover {
	background-color: #FF6765;
}

/* Article Start */
.textarea {
	padding-top: 64px;
}